body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    justify-content: center;
  }
  
  .list-container {
    margin: 0 20px;
  }
  
  h1, h2 {
    text-align: center;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    margin: 5px 0;
  }
  
  li.checked {
    text-decoration: line-through;
    color: grey;
  }
  
  form {
    display: flex;
    margin-top: 10px;
  }
  
  input[type=text] {
    flex-grow: 1;
    margin-right: 10px;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #3e8e41;
  }
  
  button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .delete-icon {
    display: inline-block;
    margin-left: 8px;
    width: 16px;
    height: 16px;
    background-image: url("icons/delete-icon.png");
    background-size: cover;
    cursor: pointer;
  }